*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(assets/hal1.png);
    background-size: cover;
}
.container{
    width: 100%;
    max-width: 650px;
    background: rgba(255, 255, 255, 0.836);
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px white;
}
.form-title{
    font-size: 23px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: black;
    border-bottom: solid 1px black;
}
.info-participanti{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.participanti-input-box:nth-child(2n){
    justify-content: end;
}
.participanti-input-box label{
    width: 95%;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
    font-weight: 510;
    margin: 5px 0;
}
.participanti-input-box input{
    height: 50 px;
    width: 95%;
    border-radius: 3px;
    outline: dimgrey;
    border: 1px solid dimgrey;
    padding: 0 8px;
}
.doriti-donat{
    font-size: 16px;
    
}
.da-nu-donat{
    margin: 4px 0;
}
.da-nu-donat label{
    padding: 0 20px 0 5px;

}
.da-nu-concurs{
    margin: 4px 0;
}
.da-nu-concurs label{
    padding: 0 20px 0 5px;

}
.da-nu-newsletter{
    margin: 4px 0;
}
.da-nu-newsletter label{
    padding: 0 20px 0 5px;

}

.buton-submit{
    margin-top: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.buton-submit input{
    cursor: pointer;
    display: block;
    margin-top: 6px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid dimgrey;
    color: white;
    background: rgba(0, 0, 0, 0.807);
    
    
}
.buton-submit input:hover{
    background: rgba(255, 255, 255, 0.807);
    color: black;
    font-weight: 520;
}
